@page "/about"
@using BlazorApp1.Client.Services.FormService
@using Blazored.Toast.Services
@inject IToastService ToastService
@inject IFormService FormService
@inject NavigationManager navigationManager



<h3 class="home-title">About Us</h3>

<p class="text">
   We are a local phone repair shop specializing in repairing 
   all types of phones, including iPhones and Samsungs. Our experienced 
   technicians use the latest tools and genuine parts to provide fast and reliable 
   repairs for cracked screens, water damage, battery issues, and more. We prioritize 
   customer service and strive to create a friendly and welcoming environment for all our customers. 
   Contact us to schedule an appointment or drop by our shop for a quick repair consultation.
</p>

<h4 class="heading">Customer Reviews</h4>

<div class="about-grid-container">


  <div class="about-line">
      <p class="text">
  I was really impressed with the honest service from GSM World. 
   <br/>
    <br/>
  No jargon approach by the owner and a very reasonable price for a complete new screen on my Huawei P30 lite.
   <br/>
    <br/>
I would and have highly recommended this shop as your go to for anything mobile phone related.
 <br/>
    <br/>

Thankyou so much
 <br/>
    <br/>

~ James
</p>

    </div>
    <p class="text">
   Amazing Shop! 
   <br/>
    <br/>
   Great value for money of all gadgets repairs, 
   <br/>
    <br/>
   They do all thier work in-house and have a well equipped workshop. 
   <br/>
    <br/>
   Also offer money transfer service.
   <br/>
    <br/>
    <br/>
    <br/>

    ~ Auzair
</p>

</div>
<h4 class="heading">Leave a Review</h4>
<br />
<div class="center">
        <form @onsubmit="@HandleSubmit">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
   
  <label for="review">Review:</label>
  <textarea id="review" name="review" rows="5" required></textarea>
  
  <button type="submit">Submit Review</button>
</form>
    </div>
     
@code {

    private async Task HandleSubmit()
    {
        
        // Show success notification after successful form submission
         ToastService.ShowSuccess("Form submitted successfully!");
        //navigationManager.NavigateTo(navigationManager.Uri, forceLoad: true);
    }
}
