@page "/index"
@page "/{categoryurl}"
@inject ICategoryService CategoryService;
@inject IProductService ProductService;



@if (category != null)
{
    <h3 class="shop-title">@category.Name</h3>
    <ProductList/>
}

else
{
  <h1> Welcome to GSM SHOP!</h1>
    <ProductList/>  
}


@code
{
    [Parameter]

    public string CategoryUrl { get; set; }

    private Category category = null;

    

    protected override async Task OnParametersSetAsync()
    {

        //calling the product service 
      await  ProductService.LoadProducts(CategoryUrl);

        if (CategoryUrl != null) //making sure category url is not null
        {

            category = CategoryService.Categories.FirstOrDefault(c => c.Url.ToLower().Equals(CategoryUrl.ToLower()));

        }
        else
        {
            category = null;
        }

    }

}
