@page "/product/{id:int}"
@inject IProductService ProductService 

<div class="media"> 
    <div class="media-img-big-wrapper">
        <img class="media-img-big" src="@product.Image" alt="@product.Title" /> 
    </div>
    <div class= "media-body">
        <h2 class="mb-0">@product.Title</h2>
        <p>@product.Description</p>
        @if (product.OriginalPrice > product.Price) //checks to see if price is discounted or not
        {
            <h6 class="original-price">£@product.OriginalPrice</h6>
        }
        <h4 class="price">£@product.Price</h4>
        <button class=btn-primary><i class="oi-cart"></i>&nbsp;&nbsp;&nbsp; Add to cart</button>

    </div>
</div>

@code {
    private Product product = new Product();

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //extra security making sure products are loaded
        // if (ProductService.Products == null || ProductService.Products.Count == 0)
        //{
        //  ProductService.LoadProducts();
        // }
        product = await ProductService.GetProduct(Id); //Products.FirstOrDefault(p => p.Id == Int32.Parse(Id)); //else pass the id
    }
}
