@page "/services"

<h3 class="home-title">Services We Provide</h3>

     <h4 class="service-heading">Phone Repairs</h4>
<div class="service-container">

      <div class="service-text">
        <p>
         If you are facing problems with your phone, it's important to get it fixed as soon as 
         possible to avoid further damage or potential loss of important data. Below are some
         of the services we provide:
         <ul>
          <li>Battery replacement</li>
          <li>Screen repair/replacement</li>
          <li>Battery replacement</li>
          <li>Charging port repair</li>
          <li>Software updates and fixes</li>
          <li>Speaker/microphone repair</li>
     </ul>  
</p>
     
</div>
 <div class="service-img">
        <img  src="/Images/laptop.png" width="400px" class="service-img-one">
      </div>
</div>


     <h4 class="service-heading">Money Transfer</h4>
<div class="service-container">

      <div class="service-text">
       Western Union is a trusted
       and well-known money transfer service that allows people to send and 
       receive money across the globe quickly and easily. By offering this service, 
       customers can conveniently send and receive money without having to travel to 
       a distant Western Union location. With our Western Union services, we aim to become 
       a one-stop-shop for all your needs and a valuable resource for our community. 
       Trust us to handle your money transfer needs with care and efficiency. 
       Visit us today to experience the convenience of Western Union services at GSM WORLD.
     
</div>
 <div class="service-img">
        <img  src="/Images/western.png" width="400px" class="service-img-two">
      </div>
</div>

 <h4 class="service-heading">UPS Drop Off</h4>
<div class="service-container">

      <div class="service-text">
  Need to ship a package but don't have time to wait in line at the post office?
  No problem! UPS offers convenient drop-off services at thousands of locations across the country.
  With UPS drop off, you can easily drop off your pre-labeled packages and be on your way,
  without having to wait in line or deal with the hassle of shipping. 
  Our drop-off location is open six days a week and offer flexible hours, making it easy to fit shipping into your 
  busy schedule. Plus, our knowledgeable staff is always available to answer any questions you may have and help 
  ensure that your package gets to its destination on time and in perfect condition. So why wait? Visit our 
  UPS drop-off location today and experience the convenience of easy, hassle-free shipping!
     
</div>
 <div class="service-img">
        <img  src="/Images/ups.png" width="400px" class="service-img-three">
      </div>
</div>



@code {

}
