@inject ICategoryService CategoryService
@page "/shop"
<h3>Shop</h3>


    @foreach (var category in CategoryService.Categories)
    {
        <li>
            <NavLink class="nav-link" href="@category.Url">
              <span class="oi-@category.Icon"aria-hidden="true"></span>
            @category.Name  
            </NavLink>
           
        </li>
    }



@code {
     protected override async Task OnInitializedAsync()
    {
       await  CategoryService.LoadCategories(); //loading all the categories
    }
}
