@inject ICategoryService CategoryService
@page "/shop"
<h3 class="home-title">Shop</h3>


<div class="about-grid-container">

    
    @foreach (var category in CategoryService.Categories)
    {
        <div class="shop-items">
        
            <NavLink class="nav-link" href="@category.Url">
                @if(category.Id == 1)
                {
                    <img src="/Images/energy.png" width="150px">

                }
                @if(category.Id == 2)
                {
                    <img src="/Images/usb-c-cable.png" width="150px">

                }
                @if(category.Id == 3)
                {
                    <img src="/Images/phone.png" width="150px">

                }
                @if(category.Id == 5)
                {
                    <img src="/Images/audio.png" width="150px">

                }
                @if(category.Id == 6)
                {
                    <img src="/Images/phoneholder.png" width="150px">

                }
               
                <br/>
             
            @category.Name  
            </NavLink>

        </div>   
        
    }
</div>



@code {
     protected override async Task OnInitializedAsync()
    {
       await  CategoryService.LoadCategories(); //loading all the categories
    }
}
