@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
          <CartMenu/>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>*@
<NavMenu />

<main>
    <div class="content">
   @Body
    </div>
 

</main>

<footer class="bg-dark text-light">
    <div class="final-cart-grid-container">
       
            <div>
                <ul class="list-unstyled">
                    <li>156 Firth Park Road, Sheffield, S5 6WP </li>
                   
                    <li>Phone: 0114 221 5480</li>
  
                </ul>
             
            </div>
            
        
      
        
            <div class="center">
                <p>&copy; 2023 GSM WORLD, Inc. All rights reserved.</p>
            </div>
            <div class="center">
                <ul class="list-inline pull-right">
                    <li><a href="/">Terms of Use</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                    <li><a href="/">Disclaimer</a></li>
                </ul>
            </div>
        
    </div>
</footer>


  <BlazoredToasts/>