@inject ICategoryService CategoryService
@inject ILocalStorageService LocalStorage
@inject IToastService ToastService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthStateProvider

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand justify-content-s" href="/">
        <img src="/Images/logo.PNG" alt="GSM LOGO" width="250px" class="logo" >    
        </a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-expand justify-content-center @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item align-content-center">
                    <NavLink class="nav-link" href="/shop" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Shop
                    </NavLink>
                </li>
                 <li class="nav-item align-content-center">
                    <NavLink class="nav-link" href="/services" Match="NavLinkMatch.All">
                        <span class="oi oi-wrench" aria-hidden="true"></span> Services
                    </NavLink>
                </li>
                <li class="nav-item text-center" >
                    <NavLink class="nav-link " href="/about" Match="NavLinkMatch.All">
                        <span class="oi oi-plus" aria-hidden="true"></span> About Us
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/contact"Match="NavLinkMatch.All">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Contact Us
                    </NavLink>
                </li>
                 <li class="nav-item">
                    <NavLink class="nav-link" href="/"Match="NavLinkMatch.All">
                          <span class="oi oi-home" aria-hidden="true"></span>
                    </NavLink>
                </li>
                 <li class="nav-item">
                    <NavLink class="nav-link" href="/booking"Match="NavLinkMatch.All">
                       <span class="oi oi-calendar" aria-hidden="true" ></span> 
                    </NavLink>
                </li>
                 <li class="nav-item">
                     <AuthorizeView>
                         <NotAuthorized>
                    <NavLink class="nav-link" href="/login"Match="NavLinkMatch.All">
                        <span class="oi oi-account-login" aria-hidden="true"></span>
                    </NavLink>
                    </NotAuthorized>
                    <Authorized>
                        <a class="nav-link" @onclick="logout" style="cursor: pointer" >
                            <span class="oi oi-account-logout" aria-hidden="true">

                            </span>
                        </a>
                    </Authorized>
                    </AuthorizeView>
                </li>
                  <li class="nav-item">
                    
                                        
                    <CartMenu/>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    private async void logout()

    {
        NavigationManager.NavigateTo("dashboard");
        //await LocalStorage.RemoveItemAsync("username");
        //await AuthStateProvider.GetAuthenticationStateAsync();
        //ToastService.ShowSuccess("You have sucessfully logged out");
    }
}
